**/target/
**/*.log
.vscode/
**/.idea/
**/*.iml
.DS_Store
Thumbs.db
**/.env
**/*.env

# Java/Maven
*.class
*.jar
*.war
*.ear
!.mvn/wrapper/maven-wrapper.jar

# Temporary
*.tmp
*.swp

# Test outputs
/test-output/

# Postman
*.postman_environment.json
